{{template "header.tmpl" }}
<section class="services-section alternate">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered text-center">
				<h1>Our Services</h1>
				<div class="separator"></div>
			</div>
			<div class="row clearfix">
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-house-1"></span>
						</div>
						<h4><a href="take-tour.html">Rent a home</a></h4>
						<div class="text">Secure a good shelter at affordable price.</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-desk"></span>
						</div>
						<h4><a href="take-tour.html">Sell a home</a></h4>
						<div class="text">Sell a home without stress and good rates.</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-house-4"></span>
						</div>
						<h4><a href="take-tour.html">Buy a Home</a></h4>
						<div class="text">Locate and Purchase a home easily with us.</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-house-search"></span>
						</div>
						<h4><a href="take-tour.html">Buy a Land</a></h4>
						<div class="text">Become a land owner at ease.</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-sofa"></span>
						</div>
						<h4><a href="take-tour.html">Luxury Houses</a></h4>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-house-4"></span>
						</div>
						<h4><a href="take-tour.html">Renting or Selling</a></h4>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
{{template "footer.tmpl" }}


