{{template "header.tmpl" }}
	<!-- Contact Page Section -->
	<section class="contact-page-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Form Column -->
				<div class="form-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!-- Sec Title -->
						<div class="sec-title">
							<h1>Contact Us</h1>
							<div class="separator"></div>
						</div>
						
						<!-- Contact Form -->
						<div class="contact-form">
							<form method="post" action="http://ary-themes.com/html/noor_tech/dream-property/sendemail.php" id="contact-form">
								<div class="row clearfix">
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="username" placeholder="Name " required>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="email" name="email" placeholder="Email " required>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="subject" placeholder="Subject " required>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="phone" placeholder="Phone " required>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<textarea name="message" placeholder="Message "></textarea>
									</div>
								
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<button class="theme-btn btn-style-two" type="submit" name="submit-form"><span class="txt">Send Now</span></button>
									</div>
									
								</div>
							</form>
								
						</div>
						
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!-- Sec Title -->
						<div class="sec-title">
							<h1>Contact information</h1>
							<div class="separator"></div>
						</div>
						
						<div class="content-boxed">
							<div class="text">For any kind of query, contact us with the details below.</div>
							<ul>
								<li><span class="icon fa fa-phone"></span><a href="tel:000-000-000-00">+234916521018</a></li>
                                
								<li><span class="icon fa fa-whatsapp"></span><a href="tel:000-000-000-00">09017219046</a></li>
								<li><a href="#"><span class="fab fa-whatsapp-w"></span></a></li>

								<li><span class="icon fa fa-envelope"></span><a href="mailto:CITYSMILEREALTY@GMAIL.COM">CITYSMILEREALTY@GMAIL.COM</a></li>
								<li><span class="icon fa fa-map-marker"></span>120107, Ijesha Road, Ago Iwoye, Ogun State</li>
								<li><span class="icon fa fa-clock"></span>Opening Hours : Monday - Sunday   9:00 am  to  6pm</li>
							</ul>
						</div>
						
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Faq Section -->
	
	<!-- Contact Map Section -->
    <section class="contact-map-section">
        <div class="auto-container">
            <div class="map-outer">
                <div class="map-canvas"
                    data-zoom="12"
                    data-lat="-37.817085"
                    data-lng="144.955631"
                    data-type="roadmap"
                    data-hue="#ffc400"
                    data-title="Envato"
                    data-icon-path="images/icons/map-marker.png"
                    data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                </div>
            </div>
        </div>
    </section>
    <!-- End Map Section -->
{{template "footer.tmpl" }}


 <section class="about-section alternate">
    	<div class="auto-container">
        
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h1>About Our Services</h1>
                <div class="separator"></div>
            </div>
            
            <!--About School-->
            <div class="about-school">
            	<div class="inner">
                	<div class="text"><span>CEO of our All properties</span> Micheal Clark</div>
                </div>
            </div>
            
            <div class="row clearfix">
            	<!--Counter Column / Left Aligned-->
            	<div class="column counter-column pull-left left-aligned col-lg-3 col-md-6 col-sm-12">
                	
                    <!--Fact Counter-->
                    <div class="fact-counter">
                    
                        <!--Countbox Outer-->
                        <div class="countbox-outer">
                            <div class="inner">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2000" data-stop="50">0</span>
                                </div>
                                <h6 class="counter-title">Years on the Experiance</h6>
                            </div>
                        </div>
                
                        <!--Countbox Outer-->
                        <div class="countbox-outer">
                            <div class="inner">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2500" data-stop="94">0</span>
                                </div>
                                <h6 class="counter-title">Award Won</h6>
                            </div>
                        </div>
                
                        <!--Countbox Outer-->
                        <div class="countbox-outer">
                            <div class="inner">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2500" data-stop="207">0</span>
                                </div>
                                <h6 class="counter-title">Expert Agents</h6>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
				
				<!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                	<div class="image">
                        <a href="images/resource/about.png" class="video-link lightbox-image overlay-box">
                            <img src="images/resource/about.png" alt="" />
                            <div class="link-outer">
                                <a href="https://www.youtube.com/watch?v=eoC8Tn3Cjzs" class=" lightbox-image video-popup"> &ensp; <span class="video-icon fa fa-play"></span> &ensp; </a>
                            </div>
                        </a>
                    </div>
                </div>
				
                <!--Counter Column / Reft Aligned-->
                <div class="column counter-column pull-right right-aligned col-lg-3 col-md-6 col-sm-12">
                	
                    <!--Fact Counter-->
                    <div class="fact-counter">
                    
                        <!--Countbox Outer-->
                        <div class="countbox-outer">
                            <div class="inner">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2000" data-stop="250">0</span>
                                </div>
                                <h6 class="counter-title">Num Of Emplaoyes</h6>
                            </div>
                        </div>
                
                        <!--Countbox Outer-->
                        <div class="countbox-outer">
                            <div class="inner">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2000" data-stop="64">0</span>
                                </div>
                                <h6 class="counter-title">Daily Listing</h6>
                            </div>
                        </div>
                
                        <!--Countbox Outer-->
                        <div class="countbox-outer">
                            <div class="inner">
                                <div class="count-box">
                                    <span class="count-text" data-speed="3000" data-stop="6864">0</span>
                                </div>
                                <h6 class="counter-title">Sold Houses</h6>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </section>