{{template "header.tmpl" }}	
    <section class="faq-page-section">
    	<div class="auto-container">
			
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h1>Faq's</h1>
                <div class="separator"></div>
            </div>
			
			<div class="masonry-items-container row clearfix">
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>How can you contact us ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>How can we reached at you for our services ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>Dream Property - Real Estate  service all over the world ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>There is No Fraud in Dream Property - Real Estate  ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>100% clients Satisfactions ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>If you find problem than quoted ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>How can you contact us ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>How can we reached at you for our services ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>Dream Property - Real Estate  service all over the world ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>There is No Fraud in Dream Property - Real Estate  ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>100% clients Satisfactions ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
				<!--Faq Block-->
				<div class="faq-block masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="question"><h4>If you find problem than quoted ?</h4></div>
					<div class="answer">
						<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
					</div>
				</div>
				
			</div>
            
        </div>
    </section>
{{template "footer.tmpl" }}
	