
		

		<!--Newsleter Section-->
		<section class="newsletter-section" style="background-image:url(assets/images/background/1.jpg)">
			<div class="auto-container">
				<div class="inner-container">
					<div class="row clearfix">

						<!--Title Column-->
						<div class="title-column col-lg-5 col-md-12 col-sm-12">
							<div class="inner-column">
								<div class="icon-box">
									<span class="icon flaticon-door-knob"></span>
								</div>
								<h4>Newsletter Subscription</h4>
								<div class="title">Get latest news & updates</div>
							</div>
						</div>

						<!--Form Column-->
						<div class="form-column col-lg-7 col-md-12 col-sm-12">
							<div class="inner-column">

								<!--Subscribe Form-->
								<div class="subscribe-form">
									<form method="post"
										action="http://ary-themes.com/html/noor_tech/dream-property/contact.html">
										<div class="form-group">
											<input type="email" name="email" value="" placeholder="Email Address"
												required>
											<button type="submit" class="submit-btn">Submit Now</button>
										</div>
									</form>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--End Newsleter Section-->

		<!--Main Footer-->
		<footer class="footer-style-two">
			<div class="outer-container">

				<!--Widgets Section-->
				<div class="widgets-section">
					<div class="row clearfix">

						<!--Footer Column-->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<!-- Contact Widget -->
							<div class="footer-widget info-widget">
								<h4>touch <span class="theme_color">with us</span></h4>
								<ul class="info-list">
									<li><span class="icon flaticon-placeholder"></span>120107, Ijesha Road, Ago Iwoye, Ogun State
									</li>
									<li><span class="icon flaticon-phone-call"></span>+234916521018</li>
									<li><span class="icon flaticon-email"></span>CITYSMILEREALTY@GMAIL.COM</li>
								</ul>
							</div>
						</div>

						<!--Footer Column-->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<!-- Social Widget -->
							<div class="footer-widget social-widget">
								<h4>follow <span class="theme_color">us</span></h4>
								<div class="text">Fightin' the system like a true modern day and the <br> last Robin
									Hood Space. </div>
								<ul class="social-icon-one">
									<li><a href="https://www.facebook.com/profile.php?id=100081599105741&mibextid=LQQJ4d"><span class="fab fa-facebook-f"></span></a></li>
									<li><a href="https://www.tiktok.com/@hollisstarr"><span class="fab fa-twitter"></span></a></li>
								</ul>

							</div>
						</div>

						<!--Footer Column-->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<div class="footer-widget last-widget">

								<!-- Newsletter Widget -->
								<div class="newsletter-widget">
									<h4>Our <span class="theme_color">NewsLetter</span></h4>
									<div class="newsletter-form">
										<form method="post"
											action="http://ary-themes.com/html/noor_tech/dream-property/contact.html">
											<div class="form-group">
												<input type="email" name="email" value="" placeholder="Email"
													required="">
											</div>
											<div class="form-group">
												<button type="submit" class="theme-btn btn-style-two"><span
														class="txt">SUBSCRIBE</span></button>
											</div>
										</form>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

			</div>

			<!--Footer Bottom-->
			<div class="footer-bottom">
				<div class="auto-container">
					<div class="copyright"><a href="/">City Smile Realty</a></div>
				</div>
			</div>

		</footer>

	</div>
	<!--End pagewrapper-->

	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

	<!--Search Popup-->
	<div id="search-popup" class="search-popup">
		<div class="close-search theme-btn"><span class="fas fa-window-close"></span></div>
		<div class="popup-inner">
			<div class="overlay-layer"></div>
			<div class="search-form">
				<form method="post" action="http://ary-themes.com/html/noor_tech/dream-property/index.html">
					<div class="form-group">
						<fieldset>
							<input type="search" class="form-control" name="search-input" value=""
								placeholder="Search Here" required>
							<input type="submit" value="Search Now!" class="theme-btn">
						</fieldset>
					</div>
				</form>

				<br>
				<h3>Recent Search Keywords</h3>
				<ul class="recent-searches">
					<li><a href="#">Business</a></li>
					<li><a href="#">Appartment</a></li>
					<li><a href="#">Flat</a></li>
					<li><a href="#">Commercial</a></li>
					<li><a href="#">Villa</a></li>
				</ul>

			</div>

		</div>
	</div>
	
	<!--Scroll to top-->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/jquery-ui.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.fancybox.js"></script>
	<script src="assets/js/jquery.countdown.js"></script>
	<script src="assets/js/owl.js"></script>
	<script src="assets/js/wow.js"></script>
	<script src="assets/js/dropzone.js"></script>
	<script src="assets/js/validate.js"></script>
	<script src="assets/js/appear.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="assets/js/color-settings.js"></script>
	<!--Google Map APi Key-->
	<script
		src="http://maps.google.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;"></script>
	<script src="assets/js/gmaps.js"></script>
	<script src="assets/js/map-script-3.js"></script>
	<!--End Google Map APi-->
</body>

<!-- dream-property/properties.html  18 Nov 2019 05:11:05 GMT -->

</html>