<!DOCTYPE html>
<html lang="en">

<!-- dream-property/index-3.html  18 Nov 2019 05:06:36 GMT -->
<head>
<meta charset="utf-8">
<title>City Smile Realty | Home </title>
<!-- Stylesheets -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">

<link href="assets/css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="assets/css/color-switcher-design.css" rel="stylesheet">
<!--Color Themes-->
<link id="theme-color-file" href="assets/css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="assets/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="assets/js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <header class="main-header header-style-three">
        
		<!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container clearfix">
                
				<!--Info-->
				<div class="logo-outer">
					<div class="logo"><a href="index-2.html"><img src="assets/images/logo-3.jpeg" alt="" title=""></a></div>
				</div>
				<!--Nav Box-->
				<div class="nav-outer clearfix">
					<!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
					<nav class="main-menu navbar-expand-md navbar-light">
						<div class="navbar-header">
							<!-- Togg le Button -->      
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon flaticon-menu"></span>
							</button>
						</div>
						
						<div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">
								<li class="current dropdown"><a href="/"><a href="/">Home</a></a></li>
								<li class="dropdown"><a href="#"><span data-hover="About us">About us</span></a>
									<ul>
										<li><a href="/about">About Us</a></li>
										<li><a href="/faq">Faq</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#"><span data-hover="Rent Property">Rent Property</span></a>
									<ul>
										<li><a href="/rent_property">Rent Property</a></li>
										<li><a href="/submit_rent_property">Submit Property for Rent</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#"><span data-hover="Buy / Sell Property">Buy / Sell Property</span></a>
									<ul>
										<li><a href="buy_property">Buy Property</a></li>
										<li><a href="submit_sell_property">Sell Property</a></li>
									</ul>
								</li>
								<!-- <li class="dropdown"><a href="#"><span data-hover="Blog">Blog</span></a>
									<ul>
										<li><a href="blog.html">Our Blog</a></li>
										<li><a href="blog-list.html">Blog List</a></li>
										<li><a href="blog-classic.html">Blog Classic</a></li>
										<li><a href="blog-detail.html">Blog Detail</a></li>
										<li><a href="not-found.html">Not Found</a></li>
									</ul>
								</li> -->
								<li><a href="/contact"><span data-hover="Contact">Contact</span></a></li>
							</ul>
						</div>
					</nav>
					<!-- Main Menu End-->

					<!-- Main Menu End-->
					<div class="outer-box clearfix">
						<!-- Social Box -->
						<ul class="social-box clearfix">
							<li><a href="https://web.facebook.com/profile.php?id=100081599105741&mibextid=LQQJ4d&_rdc=1&_rdr"><span class="fab fa-facebook-f"></span></a></li>
							<li><a href="https://www.tiktok.com/@hollisstarr"><span class="fab fa-twitter"></span></a></li>
						</ul>
						
						<!-- Search Btn -->
						<div class="search-box-btn"><span class="icon flaticon-search"></span></div>
						
						<!-- Main Menu End-->
						<div class="nav-box">
							<div class="nav-btn nav-toggler navSidebar-button"><span class="icon flaticon-menu-1"></span></div>
						</div>
						
					</div>
				</div>
                
            </div>
        </div>
        <!--End Header Upper-->

		<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="index-2.html" class="img-responsive"><img src="assets/images/logo-small.jpeg" alt="" title=""></a>
                </div>
                
				<!--Right Col-->
                <div class="right-col pull-right">
					<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
		
    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon far fa-window-close"></span></div>
            
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
            	<div class="nav-logo"><a href="index-2.html"><img src="assets/images/nav-logo.jpeg" alt="" title=""></a></div>
                
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->
	
	<!--Page Title-->
    <section class="video-banner-section">
    	<!--Video-->
        <video class="bg-video" preload="auto" autoplay loop muted>
            <source src="assets/videos/video-banner.webm" type="video/webm" />
            <source src="assets/videos/video-banner.mp4" type="video/mp4" />
            <h3>This browser does not happen to support video</h3>
		</video>
    	<div class="auto-container">
        	<div class="inner-container">
                <h1 class="variable-text"></h1>
                <div class="text">To sell a home, Buy a home or Rent a home</div>
                <a href="/contact" class="theme-btn btn-style-two"><span class="txt">Contact Now</span></a>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	
	
	<!-- Services Section -->
	<section class="services-section alternate">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered text-center">
				<h1>Our Services</h1>
				<div class="separator"></div>
			</div>
			<div class="row clearfix">
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-house-1"></span>
						</div>
						<h4><a href="take-tour.html">Rent a home</a></h4>
						<div class="text">Secure a good shelter at affordable price.</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-desk"></span>
						</div>
						<h4><a href="take-tour.html">Sell a home</a></h4>
						<div class="text">Sell a home without stress and good rates.</div>
					</div>
				</div>
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-sofa"></span>
						</div>
						<h4><a href="take-tour.html">Buy a Home</a></h4>
						<div class="text">Locate and Purchase a home easily with us.</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->	
	<!-- Faq Action -->
    <section class="faq-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <h1>Faq's</h1>
				<div class="separator"></div>
            </div>
			
			<div class="row clearfix">
            	
                <!--Column-->
            	<div class="column col-lg-4 col-md-6 col-sm-12">
                	<!--Faq Block-->
                    <div class="faq-block">
                    	<div class="question"><h4>How can you contact us ?</h4></div>
                        <div class="answer">
                        	<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        </div>
                    </div>
                    
                    <!--Faq Block-->
                    <div class="faq-block">
                    	<div class="question"><h4>How can we reached at you ?</h4></div>
                        <div class="answer">
                        	<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        </div>
                    </div>
                    
                </div>
                
                
                <!--Column-->
            	<div class="column col-lg-4 col-md-6 col-sm-12">
                	<!--Faq Block-->
                    <div class="faq-block">
                    	<div class="question"><h4>Dream Property - City Smile Realty service all over the world</h4></div>
                        <div class="answer">
                        	<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        </div>
                    </div>
                    
                    <!--Faq Block-->
                    <div class="faq-block">
                    	<div class="question"><h4>There is No Fraud in City Smile Realty?</h4></div>
                        <div class="answer">
                        	<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        </div>
                    </div>
                    
                </div>
                
                
                <!--Column-->
            	<div class="column col-lg-4 col-md-6 col-sm-12">
                	<!--Faq Block-->
                    <div class="faq-block">
                    	<div class="question"><h4>100% clients Satisfactions?</h4></div>
                        <div class="answer">
                        	<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        </div>
                    </div>
                    
                    <!--Faq Block-->
                    <div class="faq-block">
                    	<div class="question"><h4>If you find problem than quoted ?</h4></div>
                        <div class="answer">
                        	<p>Lorem ipsum dolor sit amet, consectetuer  a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        </div>
                    </div>
                    
                </div>
				
			</div>
			
		</div>
	</section>
	<!-- End Faq Action -->
	
	<!-- Appointment Section -->
	<section class="appointment-section">
		<div class="auto-container">
			<div class="sec-title centered">
                <h1>Book Appointment</h1>
				<div class="separator"></div>
            </div>
			
			<div class="appointment-carousel owl-carousel owl-theme">
								
				<!-- Calender Block -->
				<div class="calender-block">
					<div class="block-outer">
						<div class="inner-box">
							<!-- Days Boxed -->
							<div class="days-boxed">
								<div class="clearfix">
									<div class="day-date"><strong>{{.weekday}}</strong>{{.day}} {{.month}} {{.year}}</div>
								</div>
							</div>
							
							<!-- Time Boxed -->
							<div class="time-boxed">
								<div class="clearfix">
									<div class="time">09:00AM - 06:00PM</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div>
	</section>
	<!-- End Appointment Section -->
	
	<!-- Call To Action -->
    <section class="call-to-action">
        <div class="auto-container">
            <div class="sec-title light centered">
                <h1>Make Appointment Now</h1>
				<div class="separator"></div>
            </div>
			<span class="number"><a href="tel:999-000-9999">999 000 9999</a></span>
			<div class="text">Get in contact with us and let's provide solution to your property need.</div>
            <div class="btn-box"><a href="/contact" class="theme-btn btn-style-three"><span class="txt">Appointment</span></a></div>
        </div>
    </section>
    <!--End Call To Action -->
	
	<!--Clients Section-->
    <section class="clients-section" style="background-image: url(assets/images/background/1.jpg)">
        <div class="outer-container">
            
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Clients Section-->
	
	<!-- Footer Style Three -->
    <footer class="footer-style-three">
		<div class="auto-container">
			<!--Widget Section-->
            <div class="widget-section">
				<div class="logo">
					<a href="index-2.html"><img src="assets/images/footer-logo.jpeg" alt="" /></a>
				</div>
				<div class="copyright">&copy;Copyright {{.year}} City Smile Realty. All Rights Reserved </div>
				<ul class="social-icon-one">
					<li><a href="https://web.facebook.com/profile.php?id=100081599105741&mibextid=LQQJ4d&_rdc=1&_rdr"><span class="fab fa-facebook-f"></span></a></li>
					<li><a href="https://www.tiktok.com/@hollisstarr"><span class="fab fa-twitter"></span></a></li>

				</ul>
			</div>
		</div>
	</footer>
	<!-- End Footer Style Three -->
	
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="fas fa-window-close"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="http://ary-themes.com/html/noor_tech/dream-property/index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Appartment</a></li>
                <li><a href="#">Flat</a></li>
                <li><a href="#">Commercial</a></li>
                <li><a href="#">Villa</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<!-- sidebar cart item -->
<div class="xs-sidebar-group info-group">
	<div class="xs-overlay xs-bg-black"></div>
	<div class="xs-sidebar-widget">
		<div class="sidebar-widget-container">
			<div class="widget-heading">
				<a href="#" class="close-side-widget">
					X
				</a>
			</div>
			<div class="sidebar-textwidget">
				
				<!-- Sidebar Info Content -->
            <div class="sidebar-info-contents">
				<div class="content-inner">
					<div class="logo">
						<a href="index-2.html"><img src="assets/images/logo-3.jpeg" alt="" /></a>
					</div>
					<div class="content-box">
						<h2>About Us</h2>
						<p class="text">
						CITY SMILE REALITY <br/>
						We provide easy access to buying, renting and selling of homes.
						</p>
						<a href="/contact" class="theme-btn btn-style-two"><span class="txt">Contact Us</span></a>
					</div>
					<div class="contact-info">
						<h2>Contact Info</h2>
						<ul class="list-style-two">
							<li><span class="icon flaticon-map"></span>120107, Ijesha Road, Ago Iwoye, Ogun State</li>
							<li><span class="icon flaticon-telephone"></span>+234916521018</li> 
							<li><span class="icon flaticon-message-1"></span>CITYSMILEREALTY@GMAIL.COM</li>
							<li><span class="icon flaticon-message-1"></span>09017219046</li>
							<li><span class="icon flaticon-timetable"></span>Monday - Sunday: 09:00AM to 6:00PM <br/> 
						</ul>
					</div>
					<!-- Social Box -->
					<ul class="social-box">
						<li class="facebook"><a href="https://web.facebook.com/profile.php?id=100081599105741&mibextid=LQQJ4d&_rdc=1&_rdr" class="fab fa-facebook-f"></a></li>
						<li class="twitter"><a href="https://www.tiktok.com/@hollisstarr" class="fab fa-twitter"></a></li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<!-- END sidebar widget item -->

<!--Scroll to top-->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/typeit.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.fancybox.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/js/jquery.paroller.min.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/nav-tool.js"></script>
<script src="assets/js/dropzone.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/color-settings.js"></script>

</body>

<!-- dream-property/index-3.html  18 Nov 2019 05:08:42 GMT -->
</html>